{% extends 'products_app/base.html' %}

{% block content %}
<h1>Главная страница</h1>


<form method="GET" action="{% url 'search' %}" style="margin: 20px 0;">
    <input type="text" name="s" placeholder="Поиск..." style="padding: 10px; width: 300px;">
    <button type="submit" style="padding: 10px 20px;">Найти</button>
</form>


<ul>
    {% for product in products %}
        <li>
            <h3>{{ product.name }} ({{ product.korean_name }})</h3>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="150">
            {% endif %}
            <p>{{ product.description }}</p>
            <p>Цена: {{ product.price }} сом</p>
            <a href="{% url 'product_detail' product.id %}">Подробнее</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
